<div>
  <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
    <fieldset ngModelGroup="login">
        <input required minlength="3"
        type="text" 
        name="username"
        [(ngModel)]=username #userRef="ngModel" placeholder="请输入用户名">
       <div *ngIf="userRef.errors?.required" >this is required</div>
       <div *ngIf="userRef.errors?.minlength" >should be at least 3 charactors</div>
       <input required minlength="6"
        type="password" 
        name="password"
        [(ngModel)]=password #pswRef="ngModel" placeholder="请输入密码" >
       <div *ngIf="pswRef.errors?.required" >this is required</div>
       <div *ngIf="pswRef.errors?.minlength" >should be at least 3 charactors</div>
       <button type="submit">Login</button>
    </fieldset>
  </form>
</div>